@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Roboto:400,400i,500,500i&display=swap');


#bg {
  background: $color-wp-blue;
  background: radial-gradient(circle, $color-wp-blue 50%, darken($color-wp-blue, 10%) 100%);
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

body, html {
  font-family: $font-body;
  background: $color-wp-blue;
}

#colors {
  .row {
    margin-bottom: 0;
  }
}

.color {
  //padding: 200px 0 0;
  position: relative;
  margin-bottom: 1rem;


  &__hex {
    width: 7rem;
  }

  &__r, &__g, &__b {
    width: 3rem;
  }


  .color-green-dark {
    background: $color-green-dark;
  }

  .color-peach-solid {
    background: $color-peach-solid;
  }

  .color-sky-dark {
    background: $color-sky-dark;
  }

  .color-sky-light {
    background: $color-sky-light;
  }

  .color-bg-teal {
    background: $color-bg-teal;
  }

  .color-tree-green {
    background: $color-tree-green;
  }

  input {
    background: rgba(255,255,255,0.75);
    border: 1px solid rgba(0,0,0,0.25);
    padding: 0.25rem;
    margin: 0.25rem;
    border-radius: 0.25rem;
    font-family: $font-code;
  }

  label {
    //background: rgba(255,255,255,0.75);
    //border-radius: 1rem;
    //padding: 0.25rem 0.75rem;
    font-size: 0.75rem;
    font-weight: bold;
    margin-right: 0.5rem;
  }

  .meta {
    width: 100%;
    background: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
  }

  .swatch {
    height: 200px;
    border: 1px solid #ddd;
  }

  &__name {
    //text-align: center;
  }
}

.fadeback {
  color: #aaa;
}

.font-body {
  font-family: $font-body;
}

.font-heading {
  font-family: $font-heading;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-heading;
  width: 100%;
}

h1 {
  text-align: center;
}

h2 {
  margin: 3rem 0;
}

img {
  margin-bottom: 2rem;
  border: 1px solid #ddd;
  display: block;
  max-width:100%;
  height:auto;
}

.logo {
  width: 50%;
  margin: auto;
  padding: 4rem;
  border: 1px solid #ccc;

  img {
    border: 0;
  }
}

#main {
  background: #fff;
  margin-top: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  z-index: 1;
  position: relative;
}

#menu {
  border: 1px solid #ddd;
  padding: 1rem;
  max-width: 800px;
  border-radius: 0.25rem;
  margin: 2rem auto;
  text-align: center;

  h2 {
    margin:0 1rem;
  }

  .nav {
    justify-content: center;
  }
}

.row {
  margin-bottom: 2rem;
}

.section {
  border-bottom: 1px solid #ccc;
  margin-bottom: 2rem;
  padding: 4rem 2rem;
}

.subsection {
  border-bottom: 1px solid #eee;
  margin-bottom: 2rem;
  padding: 2rem 0;

  svg {
    margin-bottom: 2rem;
  }

}