//Fonts
$font-heading:  'Indie Flower', cursive;
$font-body: 'Roboto', sans-serif;
$font-code: monospace;

//Colors
$color-wp-blue: #0073aa;
$color-sky-dark: #62d6f0;
$color-sky-light: #e3fffd;
$color-green-dark: #04381b;
$color-peach-solid:#f28047;
$color-bg-teal: #00c8b4;
$color-tree-green: #008f70;